.info-main {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: auto;
}

.info-main .right {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 40px;
}

.info-main .title {
    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 12px;
}

.info-main .leftmenu {
    width: 224px;
    border-right: 1px solid #e8e8e8;
}

.info-main .leftmenu ul {
    border: none;
}

.ant-list-item-meta {
    font-size: 33px !important;
}

@media screen and (max-width:720px) {
    .info-main .leftmenu {
        width: 100%;
        border: none;
    }

    .info-main {
        flex-direction: column;
    }
}

.flagged-posts {
    text-align: center;
    margin-top: 30px;
}