.footer-desktop {
    margin-left: 40%;
}

.footer-mobile {
    margin-left: 12%;
}

.go-to-button {
    margin-left: 2px;
}

.cancel-go-page-button {
    margin-left: 2px;
}

.input-pagination-select {
    top: -3px;
}